.signupbody {
  background-color: rgba(33, 133, 208, 0.5);
  opacity: 0.8;
  margin: 0 auto;
  padding-bottom: 4%;
}

.signupcontainer {
  padding: 2% 0 3%;
  background-color: white;
  margin: 0 auto;
  width: 360px;
  height: 480px;
  border-radius: 20px;
  margin-top: 50px;
  text-align: center;
}

.signuptxt {
  font-size: 40px;
  color: #2184d0;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 15%;
}

.signupform.name {
  padding-top: 0%;
}
.signupbody {
  background-color: rgba(33, 133, 208, 0.5);
  opacity: 0.8;
  margin: 0 auto;
  padding-bottom: 4%;
}

.signupcontainer {
  padding: 2% 0 3%;
  background-color: white;
  margin: 0 auto;
  width: 360px;
  height: 480px;
  border-radius: 20px;
  margin-top: 50px;
  text-align: center;
}

.signuptxt {
  font-size: 40px;
  color: #2184d0;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 15%;
}

.signupform {
  margin: 0 auto;
  color: #2185d0;
  border-color: #2184d0;
  border-radius: 0%;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 18px;
  padding-top: 7%;
}

.signupform.name {
  padding-top: 0%;
}
